<header class="site-header">
    <h1 class="site-name">Charm City Circulator Demo Site</h1>   

    <nav class="site-nav-top">
      <ul class="u-list-reset">
      {% assign nav = collections.nav | sortByPageOrder %} 
      {% for item in nav %}
      <li{% if page.url == item.url %} aria-current="page" {% endif %}>
        <a href="{{ item.url }}">
          {% if item.data.pageTitle == "Search" %}
          <i class="fa fa-search"></i>
          {% else %}
          {{ item.data.pageTitle }}
          {% endif %}
        </a>
      </li>
      {% endfor %}  
      </ul>
    </nav>
    
  </header>


  
