<div class="site-grid-secondary-wrapper">
  <div class="header-service-wrapper">
   <h2>Our Policies</h2>
   <h4>Promises we make</h4>
  </div>
 
    <ul class="u-list-reset cards-list">
      <li class="card">
        <div class="card-content">
              <h3 class="card-title">No Strand Policy.</h3>
              <p>Riders present at any of the Circulator stops at the end of service hours, will be allowed to board and will be taken to their respective stop destinations on the same route. Service will not be provided to riders who arrive at stops after service hours.
              </p>
        </div>
      </li>

      <li class="card">
        <div class="card-content">
              <h3 class="card-title">Layover.</h3>
              <p>From time to time during your trip on the Charm City Circulator, you may notice the bus makes an occasional unscheduled stop for a short period. No need to worry!  This is what is known as a “Layover” and it’s necessary to maintain headways and keep our operation on-time. Unlike most transit operations, the Charm City Circulator does not utilize timetables to drive schedules and/or arrival times; but rather, we use headways. As such, a layover is necessary to correct the timing of the bus on its specified route; especially if it’s running too fast, to prevent “bunching” of buses. Additionally, it serves as a safety measure to ensure our operators receive enough rest so that they remain as alert as possible while operating the bus.
              </p>
        </div>
      </li>
    </ul>

</div>
