<footer class="site-footer">
    <div class="site-footer-content">

      <div class="site-footer-section">
        <a href="/" class="site-logo">CCC</a>      
      </div>

      <div class="site-footer-section">
        <p>Charm City Circulator</p>
      </div>

      <div class="site-footer-section">
        <address>
          <p>Address
            <br>417 E. Fayette Street<br>5th Floor Baltimore<br>MD 21202
          </p>
          <p>Customer Service<br>410–545–1956
          </p>
        </address>
      </div>

      <div class="site-footer-section">
        <a href="https://transportation.baltimorecity.gov/">Baltimore City Department of Transportation</a>
      </div>

    </div>

    <div class="site-footer-copyright">
      &copy; 2018 City of Baltimore. All Rights Reserved | Designed by Isaac Jung 
    </div>
  </footer>
