.site-grid-routes {
    @media (min-width: 900px) {
        display: grid; 
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: auto auto;
        grid-gap: 1rem; 
        width: 100%;  
    }
}

.header-routes-wrapper {
    @media (min-width: 900px) {
        grid-column: 1 / 9;
        grid-row: 1; 
    }
}

.header-stops-near-me {
    font-size: 48px;
    font-family: "omnium";
    font-weight: 700;
    text-transform: uppercase; 
    margin-top: 0; 
    margin-bottom: 0;
    padding: 0; 
}

iframe {
    border-radius: $border-rounded; 
    display: block; 
    min-height: 600px;
    width: 100%;

    @media (min-width: 900px) {
        min-height: 900px;
     }
}

.map-iframe {
    
    &-route-buttons {
        text-align: center; 
    
        @media (max-width: 899px) {
            display: flex;
            font-size: $font-size-body;
            max-width: 100px;
        }

        @media (min-width: 900px) {
            grid-column: 1 / 2;
            grid-row: 2;
         }
    
        li {
            border-radius: $border-rounded; 
            flex: 1;
            margin-bottom: 2vh;
            margin-right: 1vw; 
            padding: 5px 16px; 
            transition: 0.3s; 
        }

        li:nth-child(1) {
            border: $border $color-yellow; 
            color: $color-yellow; 

            &:hover,
            &:focus,
            &:active {
                background: $color-yellow;
                color: $color-offwhite;
            }
        }

        li:nth-child(2) {
            border: $border $color-mint;
            color: $color-mint; 

            &:hover,
            &:focus,
            &:active {
            background: $color-mint;
            color: $color-offwhite;
            }
        }

        li:nth-child(3) {
            border: $border $color-navy;
            color: $color-navy; 

            &:hover,
            &:focus,
            &:active {
            background: $color-navy;
            color: $color-offwhite;
            }
        }

        li:nth-child(4) {
            border: $border $color-magenta;
            color: $color-magenta; 

            &:hover,
            &:focus,
            &:active {
            background: $color-magenta;
            color: $color-offwhite;
            }
        }
    }

    &-container {
    border: 2px solid;
    border-radius: $border-rounded; 

        @media (min-width: 900px) {
            grid-column: 3 / 12;
            grid-row: 2; 
        }
    }
}


.stops-search-box-container {
    display: grid; 
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 1rem; 
}

.stops {

    &-search-box {
        border: 2px solid $color-purple; 
        border-radius: $border-rounded;
        color: $color-purple;
        font-size: $font-size-body;
        margin-top: 0; 
        min-height: 72px;
        outline: 0;
        padding: 1vh;
        transition: 0.3s; 
        
        grid-column: 1 / 11;
        grid-row: 2; 

            &:hover,
            &:focus,
            &:active {
                background: $color-offwhite;
            }
    }

    &-submit-button {
        background: $color-purple;
        border: 2px solid $color-purple; 
        border-radius: $border-rounded;
        color: $color-offwhite;
        font-size: $font-size-body; 
        grid-column: 11 / 12;
        grid-row: 2; 
        height: 72px;
        outline: 0;
        transition: 0.3s;

        &:hover,
        &:focus,
        &:active {
        background: $color-offwhite;
        color: $color-purple;
        cursor: pointer;
        }
    }
}

input::placeholder {
    color: $color-purple;
}

