.site-wrapper {
  background-color: $color-offwhite;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  margin: 0 auto; 

  @media (min-width: 960px) {
    max-width: 1200px;
  }
}
