.card-grid-1 {
    display: grid; 
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 1rem;
    margin-top: 8vh;  

    span {
      font-size: $font-size-header-description;
    }

    .time-interval-opg {
        grid-column: 1 / 3;
        grid-row: 1; 
      }

    .time-interval-b {
        grid-column: 6 / 9;
        grid-row: 1; 
      }

     .button-orange-route-time {
      grid-column: 1 / 2;
      grid-row: 2; 

        a {
          background: $color-yellow;
        }
      }

      .button-purple-route-time {
        grid-column: 2 / 3;
        grid-row: 2; 

        a {
          background: $color-magenta;
        }
      }
  
      .button-green-route-time {
        grid-column: 3 / 4;
        grid-row: 2; 

        a {
          background: $color-mint;
        }
      }
  
      .button-banner-route-time {
        grid-column: 6 / 9;
        grid-row: 2; 
        
        a {
          background: $color-navy;
        }
      }
  }

  dl {
    display: grid;
    font-size: $font-size-header-description;
    grid-template-columns: 40% 60%;
    margin-top: 8vh; 
    margin-bottom: 0;   
    padding: 0;
  }

.card-grid-2 {
    display: grid; 
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto;
    grid-gap: 1rem;
    margin-top: 8vh;

    @media (min-width: 997px) {
      grid-template-columns: repeat(11, 1fr);
      grid-template-rows: auto auto;
      grid-gap: 1rem; 
      width: 100%; 
    }

    .closed-stops-purple {
      grid-column: 1 / 3;
      grid-row: 3;

      @media (min-width: 997px) {
        grid-column: 5 / 12;
        grid-row: 1;
      }

    }

    .closed-stops-banner {
      grid-column: 1 / 3;
      grid-row: 6;

      @media (min-width: 997px) {
        grid-column: 5 / 12;
        grid-row: 2;
      }
    }

    li {
      font-size: $font-size-header-description;
      padding: 0;
    }

    span {
      font-size: $font-size-header-description;
      margin: 0; 
      padding: 0;
    }

    .routes-closed-purple {
      grid-column: 1 / 3;
      grid-row: 1; 

      @media (min-width: 997px) {
        grid-column: 1 / 4;
        grid-row: 1; 
      }

    }

    .button-purple-route-closed {
      grid-column: 1 / 3;
      grid-row: 2;

      @media (min-width: 997px) {
        grid-column: 4 / 5;
        grid-row: 1;
      }

        a {
          background: $color-magenta;
        }
    }

    .routes-closed-banner {
      grid-column: 1 / 2;
      grid-row: 4; 
      margin-top: 2rem; 

      @media (min-width: 997px) {
        grid-column: 1 / 4;
        grid-row: 2; 
        margin-top: 0; 
      }

    }

    .button-banner-route-closed {
      grid-column: 1 / 3;
      grid-row: 5; 

      @media (min-width: 997px) {
        grid-column: 4 / 5;
        grid-row: 2;
      }

        a{
          background: $color-navy;
        }
    }
  }

.site-grid-secondary {

  &-wrapper {
    background: $color-offgrey;
    padding: 10vh 10vw;
    margin-top: 10vh; 
  }
}



  