.header-search-wrapper {
    grid-column: 1 / 12;
    grid-row: 1; 
}

div.content-search-wrapper {
    display: block; 
    grid-column: 1 / 12;
    grid-row: 2; 

    &:hover, 
    &:focus {
        cursor: text; 
    }
}

.search-box {
    background: $color-purple-transparent-lighter; 
    border: $border $color-purple; 
    border-radius: $border-rounded;
    color: $color-purple;
    font-size: $font-size-body;
    grid-column: 1 / 11;
    grid-row: 2; 
    min-height: 72px;
    outline: 0;
    transition: 0.3s; 

    &:hover,
    &:focus,
    &:active {
        background: $color-offwhite;
    }
}

.submit-button {
    background: $color-purple;
    border: $border $color-purple; 
    border-radius: $border-rounded;
    color: $color-offwhite;
    font-size: $font-size-body;
    grid-column: 1 / 3;
    grid-row: 3; 
    outline: 0;
    padding: 1vh 2vw;
    transition: 0.3s;

    &:hover,
    &:focus,
    &:active {
        background: $color-offwhite;
        color: $color-purple;
        cursor: pointer;
    }
}

input::placeholder {
    color: $color-purple;
    margin-left: 20px;
}






